extends layout.pug

block variables
	//- - var parentTitle = ["Услуги","dgfdfg"]
	- var parentTitle = "Главная"
	- var pageTitle = "О компании"

block content
	+pageTop('about-us-photo-1')
		p «Комплекс-Инфо» - один из ключевых профессионалов по созданию и внедрению качественного программного обеспечения для предпринимателей.
		p Компания работает на рынке информационных технологий с 2006 года. Уже в то время среди наших клиентов были Федеральные органы государственной власти и известные коммерческие организации («Ростелеком», «VIP-технологии»).
	div.content__about-us
		div.container
			div.info__block
				div.column
					picture.info__picture
						source(srcset=`images/about-us-photo-2.jpg` media="(max-width: 768px)")
						img.info__image(src="images/about-us-photo-2.jpg" alt="О нас - фото 2")
				div.column
					div.info__text-wrapper
						div.info__data(data-value="2012 год")
						div.text-block
							p В 2009 году в Нижнем Новгороде не было центров обработки данных: вся информация организаций располагалась на серверах в самих офисах и за рубежом. Поэтому уже в 2010 году началась разработка дата-центра. Благодаря эффективной работе компании «Комплекс-Инфо» в 2012 году был открыт единственный в городе коммерческий дата-центр «Комплекс-Хост», который в настоящее время является слаженным механизмом по обработке и хранению данных, сервисов и приложений.
						a.info__button.button.button_color_invert(href="#") Подробнее
			div.info__block
				div.column
					div.info__text-wrapper.text-block
						div.info__data(data-value="2013 год")
						div.text-block
							p Через год, в 2013, компания «Комплекс-Инфо» разрабатывает школьный проект «Современные технологии на страже будущего ВАШИХ детей». Приоритетная задача – создать единую, простую и комфортную, информационную систему, которая позволит школьникам чувствовать себя в безопасности в учебном учреждении, а родителям – легко контролировать посещаемость детей.
						a.info__button.button.button_color_invert(href="#") Подробнее
				div.column
					div.info__image-background
						picture.info__picture
							source(srcset=`images/about-us-photo-2.jpg` media="(max-width: 768px)")
							img.info__image.info__image_right(src="images/about-us-photo-3.jpg" alt="О нас - фото 3")
			div.info__block
				div.column
					picture.info__picture
						source(srcset=`images/about-us-photo-2.jpg` media="(max-width: 768px)")
						img.info__image(src="images/about-us-photo-4.jpg" alt="О нас - фото 4")
				div.column
					div.info__text-wrapper.text-block
						div.info__data(data-value="2015 год")
						div.text-block
							p 2015 год – старт проекта АСКУЭ (автоматизированная система контроля и учёта энергоресурсов) «Волга».  Цель программы – улучшение качества жизни жителей города путём создания комплексной единой системы, которая позволяет подключать сразу все виды энергоресурсов (газ, свет, воду и тепло) к одной сети и ежедневно контролировать показания счётчиков.
						a.info__button.button.button_color_invert(href="#") Подробнее
	div.content__carousel.carousel
		div.container
			div.carousel__inner
				div.column
					div.carousel__descr.text-block
						p Портфолио «Комплекс-Инфо» очень внушительно и включает работу над более чем 100 российско-зарубежными проектами. Благодаря качественному и результативному выполнению всех поставленных задач в компании сложился сильный коллектив профессионалов, который быстро и чётко найдёт решение вопроса любого уровня сложности.
						p Кроме профильной работы, «Комплекс-Инфо» поддерживает развитие начинающих компаний и занимается консультированием в IT и других сферах бизнеса.
					a.carousel__button.button(href="projects.html") Перейти в проекты
				div.column.column_padding_not
					div.carousel__slider.slider
						div.slider__wrapper#slider
							each item, key in slideAboutUs
								div.slider__item
									img.slider__image(src=`images/slider-photo-${(key + 1)}.jpg` alt=`Image${(key + 1)}`)
									a(href=item.link class="slider__text")=item.title
						div.slider__arrows
							button(class='slider__arrow slider__arrow_type_prev' type="button" id="slider-prev")
							button(class='slider__arrow slider__arrow_type_next' type="button" id="slider-next")
	section.content__icons-list.icons-list
		div.container
			h2.icons-list__title.page-subtitle 7 причин нам доверять
			div.icons-list__wrapper
				each item, key in reasons
					div.icons-list__block
						div.icons-list__image-wrapper
							img.icons-list__image(src=`images/icon-double/icon-${item.imgName}.svg` alt=`Image${(key + 1)}`)
							img.icons-list__image-shadow(src=`images/icon-double/icon-shadow-${item.imgName}.svg` alt=`Image${(key + 1)}`)
						p.icons-list__text!=item.descr
	include blocks/callback