extends layout.pug

block variables
	- var parentTitle = "Наши проекты"
	- var pageTitle = "Сельское хозяйство"

block content
	div.content__wrapper
		section.content__section
			div.container
				h1.title Сельское хозяйство
				div.cards
					each item, key in project
						div.cards__item
							img.cards__image(src=`images/logo-project-${item.image}.svg` alt=`Проект ${item.image}`)
							div.cards__overlay
								div.cards__text-block
									span Заказчик: 
									span=item.name
								div.cards__text-block
									span Продукция: 
									span=item.product
								div.cards__text-block
									span Внешний рынок: 
									span=item.market
								div.cards__text-block
									span Срок выхода на рынок: 
									span=item.time
								button.cards__button.button(type="button") Подробнее