extends layout.pug

block variables
	- var pageTitle = "Главная"

		
block content
	div.content__wrapper
		div#slider.slider
			each item, key in slider
				div.slider__item(class=`slider__item_number_${key + 1}`)
					div.container
						div.slider__text-wrapper
							if item.title
								h1.slider__title=item.title
							div.slider__description=item.descr
							if item.link === 'Подробнее'
								button.slider__button.button(type="button")=item.link
							else 
								a.slider__button.button(type="button" href="#callback")=item.link
		div.container
			ul.slider__dots-list
				each item, key in slider
					li.slider__dots-item
						button.slider__dots-button(type="button")
		section.content__section
			div.container 
				h2.title Наши проекты
				div.cards
					each item, key in project
						div.cards__item
							img.cards__image(src=`images/logo-project-${item.image}.svg` alt=`Проект ${item.image}`)
							div.cards__overlay
								div.cards__text-block
									span Заказчик: 
									span=item.name
								div.cards__text-block
									span Продукция: 
									span=item.product
								div.cards__text-block
									span Внешний рынок: 
									span=item.market
								div.cards__text-block
									span Срок выхода на рынок: 
									span=item.time
								button.cards__button.button(type="button") Подробнее

		include blocks/callback
		include blocks/footer